<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://java.sun.com/xml/ns/j2ee http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>prenda</display-name>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/*Context.xml</param-value>
  	</context-param>
	<filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
        <servlet-name>prenda</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
         <init-param>
                <param-name>contextConfigLocation</param-name>
                <param-value>applicationContext.xml</param-value>
            </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>prenda</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <filter>
    	<filter-name>openSessionInViewFilter</filter-name>
    	<filter-class>
        	org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
    	</filter-class>
	</filter>
	<filter-mapping>
    	<filter-name>openSessionInViewFilter</filter-name>
    	<url-pattern>*.htm</url-pattern>
	</filter-mapping>
  	<welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
	<servlet>
		<description>
		</description>
		<display-name>
		CheckPawn</display-name>
		<servlet-name>CheckPawn</servlet-name>
		<servlet-class>com.prenda.servlet.CheckPawn</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CustomerModify</display-name>
		<servlet-name>CustomerModify</servlet-name>
		<servlet-class>com.prenda.servlet.CustomerModify</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CheckRedeem</display-name>
		<servlet-name>CheckRedeem</servlet-name>
		<servlet-class>com.prenda.servlet.CheckRedeem</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		SaveSettings</display-name>
		<servlet-name>SaveSettings</servlet-name>
		<servlet-class>com.prenda.servlet.SaveSettings</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CheckPullout</display-name>
		<servlet-name>CheckPullout</servlet-name>
		<servlet-class>com.prenda.servlet.CheckPullout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CheckItem</display-name>
		<servlet-name>CheckItem</servlet-name>
		<servlet-class>com.prenda.servlet.CheckItem</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ExtendItem</display-name>
		<servlet-name>ExtendItem</servlet-name>
		<servlet-class>com.prenda.servlet.ExtendItem</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		BranchModify</display-name>
		<servlet-name>BranchModify</servlet-name>
		<servlet-class>com.prenda.servlet.BranchModify</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		TransferCash</display-name>
		<servlet-name>TransferCash</servlet-name>
		<servlet-class>com.prenda.servlet.TransferCash</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckName</display-name>
		<servlet-name>CheckName</servlet-name>
		<servlet-class>com.prenda.ajax.CheckName</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>GetAddress</display-name>
		<servlet-name>GetAddress</servlet-name>
		<servlet-class>com.prenda.ajax.GetAddress</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		OutstandingPdf</display-name>
		<servlet-name>OutstandingPdf</servlet-name>
		<servlet-class>
		com.prenda.pdf.OutstandingPdf</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PawnPdf</display-name>
		<servlet-name>PawnPdf</servlet-name>
		<servlet-class>
		com.prenda.pdf.PawnPdf</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RedeemPdf</display-name>
		<servlet-name>RedeemPdf</servlet-name>
		<servlet-class>
		com.prenda.pdf.RedeemPdf</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ForeclosedPdf</display-name>
		<servlet-name>ForeclosedPdf</servlet-name>
		<servlet-class>
		com.prenda.pdf.ForeclosedPdf</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PulloutPdf</display-name>
		<servlet-name>PulloutPdf</servlet-name>
		<servlet-class>
		com.prenda.pdf.PulloutPdf</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		InventoryPdf</display-name>
		<servlet-name>InventoryPdf</servlet-name>
		<servlet-class>
		com.prenda.pdf.InventoryPdf</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PawnDailyPdf</display-name>
		<servlet-name>PawnDailyPdf</servlet-name>
		<servlet-class>
		com.prenda.pdf.PawnDailyPdf</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RedeemDailyPdf</display-name>
		<servlet-name>RedeemDailyPdf</servlet-name>
		<servlet-class>
		com.prenda.pdf.RedeemDailyPdf</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PulloutDailyPdf</display-name>
		<servlet-name>PulloutDailyPdf</servlet-name>
		<servlet-class>
		com.prenda.pdf.PulloutDailyPdf</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PawnTicketPdf</display-name>
		<servlet-name>PawnTicketPdf</servlet-name>
		<servlet-class>
		com.prenda.pdf.PawnTicketPdf</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CashTransfers</display-name>
		<servlet-name>CashTransfers</servlet-name>
		<servlet-class>com.prenda.servlet.CashTransfers</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CashDisbursement</display-name>
		<servlet-name>CashDisbursement</servlet-name>
		<servlet-class>com.prenda.servlet.CashDisbursement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CheckMassPullout</display-name>
		<servlet-name>CheckMassPullout</servlet-name>
		<servlet-class>com.prenda.servlet.CheckMassPullout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		EditPawn</display-name>
		<servlet-name>EditPawn</servlet-name>
		<servlet-class>com.prenda.servlet.EditPawn</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GetAccountName</display-name>
		<servlet-name>GetAccountName</servlet-name>
		<servlet-class>
		com.prenda.ajax.GetAccountName</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CashPositionPdf</display-name>
		<servlet-name>CashPositionPdf</servlet-name>
		<servlet-class>
		com.prenda.pdf.CashPositionPdf</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PawnHistory</display-name>
		<servlet-name>PawnHistory</servlet-name>
		<servlet-class>com.prenda.servlet.PawnHistory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GetDates</display-name>
		<servlet-name>GetDates</servlet-name>
		<servlet-class>
		com.prenda.ajax.GetDates</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		RedeemHistory</display-name>
		<servlet-name>RedeemHistory</servlet-name>
		<servlet-class>com.prenda.servlet.RedeemHistory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PulloutHistory</display-name>
		<servlet-name>PulloutHistory</servlet-name>
		<servlet-class>com.prenda.servlet.PulloutHistory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CashDisbursementPdf</display-name>
		<servlet-name>CashDisbursementPdf</servlet-name>
		<servlet-class>
		com.prenda.pdf.CashDisbursementPdf</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		InventoryCheckList</display-name>
		<servlet-name>InventoryCheckList</servlet-name>
		<servlet-class>
		com.prenda.servlet.InventoryCheckList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CheckAuction</display-name>
		<servlet-name>CheckAuction</servlet-name>
		<servlet-class>
		com.prenda.servlet.CheckAuction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GetMinMax</display-name>
		<servlet-name>GetMinMax</servlet-name>
		<servlet-class>
		com.prenda.ajax.GetMinMax</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckPawn</servlet-name>
		<url-pattern>/CheckPawn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerModify</servlet-name>
		<url-pattern>/CustomerModify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckRedeem</servlet-name>
		<url-pattern>/CheckRedeem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveSettings</servlet-name>
		<url-pattern>/SaveSettings</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckPullout</servlet-name>
		<url-pattern>/CheckPullout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckItem</servlet-name>
		<url-pattern>/CheckItem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExtendItem</servlet-name>
		<url-pattern>/ExtendItem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BranchModify</servlet-name>
		<url-pattern>/BranchModify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferCash</servlet-name>
		<url-pattern>/TransferCash</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckName</servlet-name>
		<url-pattern>/CheckName</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAddress</servlet-name>
		<url-pattern>/GetAddress</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OutstandingPdf</servlet-name>
		<url-pattern>/outstanding.pdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PawnPdf</servlet-name>
		<url-pattern>/pawn.pdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedeemPdf</servlet-name>
		<url-pattern>/redeem.pdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForeclosedPdf</servlet-name>
		<url-pattern>/foreclosed.pdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PulloutPdf</servlet-name>
		<url-pattern>/pullout.pdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InventoryPdf</servlet-name>
		<url-pattern>/inventory.pdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PawnDailyPdf</servlet-name>
		<url-pattern>/pawndaily.pdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedeemDailyPdf</servlet-name>
		<url-pattern>/redeemdaily.pdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PulloutDailyPdf</servlet-name>
		<url-pattern>/pulloutdaily.pdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PawnTicketPdf</servlet-name>
		<url-pattern>/pawnticket.pdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CashTransfers</servlet-name>
		<url-pattern>/CashTransfers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CashDisbursement</servlet-name>
		<url-pattern>/CashDisbursement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckMassPullout</servlet-name>
		<url-pattern>/CheckMassPullout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditPawn</servlet-name>
		<url-pattern>/EditPawn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAccountName</servlet-name>
		<url-pattern>/GetAccountName</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CashPositionPdf</servlet-name>
		<url-pattern>/cashposition.pdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PawnHistory</servlet-name>
		<url-pattern>/PawnHistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetDates</servlet-name>
		<url-pattern>/GetDates</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedeemHistory</servlet-name>
		<url-pattern>/RedeemHistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PulloutHistory</servlet-name>
		<url-pattern>/PulloutHistory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CashDisbursementPdf</servlet-name>
		<url-pattern>/cashdisbursement.pdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InventoryCheckList</servlet-name>
		<url-pattern>/inventorychecklist.txt</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckAuction</servlet-name>
		<url-pattern>/CheckAuction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetMinMax</servlet-name>
		<url-pattern>/GetMinMax</url-pattern>
	</servlet-mapping>
</web-app>
